<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue est nibh, eu semper nisi mollis sed. Vivamus interdum est ut eros consequat, ut viverra sapien vehicula. Quisque id erat ac arcu faucibus scelerisque sit amet a enim. Donec vulputate, metus quis finibus eleifend, risus mauris vulputate leo, id consequat mi neque id ex. Duis eros lectus, imperdiet ac purus sed, efficitur feugiat erat. Nullam vitae nunc quis erat luctus finibus blandit vitae nunc. Nam volutpat mi ipsum, ut laoreet diam tincidunt sit amet.</p>

<p>
  <a href="#/countries"><button>Browse Countries</button></a>
</p>